body{
  background: white;
}
h1{
  width:50%;
  height:50%;
  font: bold;
  text-align: center;
  color: red;
}

.pie {
  text-align: right;
  background: lightgreen;
  padding: 15px;
  margin: 20px
  border:2px solid black;
}
img{
  width:3%;
  height:5%;
}

html body {
  height: 100%
  width: 100%
}
