body{
  height:100%;
  width:auto;
  background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  width:100%;
  height:auto;
  align: center;
}
p{
  font-family:Arial;
  font-size:18px;
  text-align:center;
}
h1 {
  font-family:helvetica;
  text-align:right;
}

#container1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh;
  padding: 1em;
}
#container1 .image0{
  grid-column: 2/3;
  grid-row: 1/1;
}
.image0{
  height: 15%;
  width:15%;
}

#container2{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: calc(15vh - 10px) calc(40vh - 10px) calc(15vh - 10px);
  padding: 1em;
  border: 1px solid coral;
  grid-gap: 1em;
}
#container2 .image1{
  padding: 1em;
  grid-column: 2/3;
  grid-row:2/3;
  border: 2px solid coral;
  border-radius: 15px;
}

#container2 .text1{
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1em;
}
#container2 .image2{
  padding: 1em;
  grid-column: 3/4;
  grid-row:2/3;
  border: 2px solid coral;
  border-radius: 15px;
}
#container2 .text2{
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 1em;
}
#container2 .image3{
  padding: 1em;
  grid-column: 4/5;
  grid-row:2/3;
  border: 2px solid coral;
  border-radius: 15px;
}
#container2 .text3{
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 1em;
}


footer{
  font-family: helvetica;
   text-align: right;
   background: #fff;
   border: 1px solid black;

}
