.agrupar {
  background: white;
  margin: auto;
  width: 960px

}
.menu li{
      list-style: none;
      padding: 5px;
      font: bold  14px sans-serif;
      display: inline-block; center
}
.cabecera{
  background: lightgreen
}
.pie{
    text-align: right;
    background: #e7e3ff;
    color: black;
    padding: 15px; font-style: italic;
    margin: 20px
}

html body {
  height: 100%
  width: 100%
}
