body{
  background:
}
h1{
  text-align:center;
  font-size:40px;
}
ul{
  border: 2px solid blue;
}

.agrupar {
  background: white;
  margin: auto;
  width: 960px

}
.menu li{
      list-style: none;
      padding: 5px;
      font: bold  14px sans-serif;
      display: inline-block; center;
}
.cabecera{
  background: lightgreen
}
.pie{
    text-align: center;
    background: #e7e3ff;
    padding: 15px;
    margin: 20px
}
img{
  width:3%;
  height:5%;
}
html body {
  height: 100%
  width: 100%
}
